.contactInfo {
    text-align: center;
}
.PaperContainer {
    padding-bottom: 15px;
}
.PaperInfoWrapper{
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px;
    border-radius: 2px;
}
.contactInfo .PaperInfoWrapper {
    text-align: left;
}
.contactInfo .PaperInfoWrapper .BasicInfo .AvatarWrapper {
    padding-right: 5px;
}
.imgAvt{
    color: rgb(255, 255, 255);
    background-color: rgb(188, 188, 188);
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.contactInfo .name {
    font-size: 18px;
    font-weight: 600;
}
.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .FollowRow a {
    color: inherit;
}
.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .FollowRow {
    margin: 10px 0;
    display: flex;
    font-size: 12px;
}

.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow {
    display: flex;
}

.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow .MainFunctionButton.Follow, .shopNavigation .right-panel button {
    background-color: #fe9900;
    color: #fff;
    border: 1px solid transparent;
}

.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow .MainFunctionButton {
    cursor: pointer;
    text-align: center;
    line-height: 1.5;
    min-width: 125px;
    font-size: 14px;
    border-radius: 20px;
    outline: 0;
    padding: 4px 10px;
    min-height: 30px;
    margin-right: 10px;
    transition: opacity 200ms ease-in-out;
}
.PaperWrapper{
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px;
    border-radius: 2px;
}
.PaperContainer .TitleHeading {
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.PaperContainer .PaperWrapper {
    padding: 15px;
}
.listt {
    width: 100%;
}
.listItem{
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    margin-left: 0px;
    padding: 5px 0px 0 0;
}
.jYrOeG {
    float: left;
    width: 133px;
    height: 100px;
}
.dPyyiW {
    display: inline-block;
    margin: auto;
    height: 100px;
    width: 133px;
    float: left;
    position: relative;
    background-image: url(https://static.chotot.com.vn/storage/default_images/c2c_ad_image.jpg);
    background-size: 100%;
}
.enrfhw {
    float: right;
    width: calc(100% - 143px);
    height: 100px;
    position: relative;
}
.hXRBzs {
    max-width: calc(100% - 15px);
    max-height: 34px;
    margin-bottom: 5px;
}
.cUQZyp {
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    padding: 0px;
    height: 100%;
    font-weight: normal;
    display: -webkit-box;
    margin-block: 0px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.EYiyr {
    height: 20px;
    line-height: 20px;
}
.dBCFhH span {
    color: rgb(208, 1, 27);
    font-weight: bold;
    font-size: 13px;
    max-width: calc(100% - 60px);
    display: inline-block;
}
.hNtdWe {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 143px;
    height: 25px;
    width: calc(100% - 143px);
    font-size: 12px;
}
.hDgMYM img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.knzJMl {
    position: relative;
    width: 100%;
    height: 100%;
}
.SWKJx {
    float: left;
    opacity: 0.7;
    height: 25px;
    line-height: 25px;
    margin-right: 15px;
    position: relative;
}
.SWKJx span {
    position: relative;
    top: 4px;
    display: inline-block;
    text-transform: capitalize;
}
.jdmbsx li a {
    color: rgb(0, 0, 0);
    display: block;
}
.jdmbsx {
    display: block;
    margin: auto;
    height: 121px;
    border-bottom: 1px solid rgb(233, 235, 238);
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    position: relative;
    overflow: hidden;
}
.divLike{
    position: absolute;
    bottom: 10px;
    right: 0px;
    z-index: 1;
}
.bwQGTK {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
@media screen and (min-width: 768px){
    .contactInfo .PaperInfoWrapper .BasicInfo {
        border-right: 1px solid #eee;
        border-bottom: none;
        display: flex;
        padding: 15px;
    }
}
@media (min-width: 768px){
    .main-content {
        min-height: calc(100vh - 249px);
    }
}
.WrapperContainer, .paginationZone .pagination li {
    padding-top: 15px;
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
}