.select {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
  }
  .select select {
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 10px 15px;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: #e6e6e6;
	color: #7b7b7b;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  }
  .select select::-ms-expand {
	display: none;
  }
  .select select:hover,
  .select select:focus {
	color: #000;
	background: #ccc;
  }
  .select select:disabled {
	opacity: 0.5;
	pointer-events: none;
  }
  .select__arrow {
	position: absolute;
	top: 16px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #7b7b7b transparent transparent transparent;
  }
  .select select:hover ~ .select__arrow,
  .select select:focus ~ .select__arrow {
	border-top-color: #000;
  }
  .select select:disabled ~ .select__arrow {
	border-top-color: #ccc;
  }
  .select-custom-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
  h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	margin-top: 0;
  }
  .control-group {
	display: inline-block;
	vertical-align: top;
	background: #fff;
	text-align: left;
	width: 100%;
	height: fit-content;
	margin: 0 10px 0 10px;
  }