.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.boxContentLeft {
    padding-bottom: 10px;
    position: relative;
    background-color: aquamarine;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.white-box {
    width: 100%;
    background: #fff;
}
.page-title {
    padding: 10px 8px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
._3wam {
    padding-top: 10px;
    padding-bottom: 10px;
}
._1sBy8udWBON-7rg0Vy9i-6 {
    height: 60px;
    margin-top: 10px;
}
._1sBy8udWBON-7rg0Vy9i-6 button {
    display: inline-block;
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #fe9900;
    background: #fe9900;
    color: #fff;
    outline: 0;
}
._3hWTTQHIGJUzaTwYs3IRvj ul {
    list-style: none;
    padding-left: 0;
}
._3hWTTQHIGJUzaTwYs3IRvj ul li {
    margin-bottom: 10px;
}
._3hWTTQHIGJUzaTwYs3IRvj ul li ._127aka-EHteI96Rlw94SeA {
    font-weight: 700;
    margin-bottom: 2px;
}
._3hWTTQHIGJUzaTwYs3IRvj ul li ._30EYSdf_NK78GgsJAB8_3I {
    position: relative;
}
._3hWTTQHIGJUzaTwYs3IRvj ul li ._30EYSdf_NK78GgsJAB8_3I input {
    height: 35px;
    padding: 0 10px;
    border: none;
    line-height: 35px;
    border-bottom: 1px solid #eee;
    box-shadow: none;
    border-radius: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.col-md-12{
    width: 100%;
    background: #fff;
    padding-bottom: 15px;
    border-radius: 0 0 15px 15px;
}
.form-control{
    display: block;
    font-size: 14px;
    color: #555;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}