.notify-error-popup-container{
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}
.forgot-password-container .forgot-password-content input{
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #CACACA;
    font-size: 1.3rem;
    padding: 8px;
    color: #222222;
    margin: 5px;
}
.notify-error-popup-container .notify-popup{
    position: absolute;
    top: calc(50% - 172px);
    left: calc(50% - 150px);
    background-color:white;
    width: 300px;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 1px #AAA;
}

.notify-error-popup-container .notify-popup .title-header{
    font-weight: bold;
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    height:60px;
    line-height:60px;
    color: #FC9807;
}

.notify-error-popup-container .notify-popup .title-header .error-icon-title{
    color: red;
    padding-right: 10px;
    font-size: 30px;
}  

.notify-error-popup-container .body-popup{
    padding-top:40px;
    border-top: 1.5px solid #FC9807;
    min-height: 80px;
    max-height: 250px;
    overflow: auto;
    overflow-x: hidden;
    padding:0px 10px;
    display:block;
}

.notify-error-popup-container .body-popup .forgot-password-container .forgot-password-content{
    padding: 0px 10px;
    margin-top:5px;
    margin-left: 0;
}

.notify-error-popup-container .body-popup .forgot-password-container .forgot-password-content .waring-mess{
    color: #FF4F4F;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.notify-error-popup-container .message-btn{
    border-top: 1.5px solid #FC9807;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.notify-error-popup-container .message-btn button{
    border-radius: 5px;
    border: 2px solid #3BB8C3;
    padding: 2px 5px;
    min-width: 80px;
    margin:7px 0px;
}

.notify-error-popup-container .message-btn .btn-confirm{
    background-color: #FF9000;
    border: 1px solid #fe9900;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    height: fit-content;
    padding: 7px 10px;
    text-align: center;
    width: max-content;
}

.notify-error-popup-container .message-btn .btn-confirm:hover{
    background-color: #fe9900;
}
