.box-info-personal {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
    padding: 16px 16px 16px 16px;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}
.box-info-personal .box-avatar {
    height: 164px;
    width: 164px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 16px auto;
    border: 1px solid #cfcfcf;
    z-index: 1;
    display: flex;
    align-items: center;
    position: relative;
}
.box-info-personal .box-avatar .box-avatar-content {
    background: url(https://static.homedy.com/src/images/social/profile/avatar.jpg) no-repeat center;
    background-size: cover !important;
    border: 1px solid #cfcfcf;
    width: 154px;
    height: 154px;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
}
.box-info-personal .box-avatar .box-avatar-content .avatar {
    background-size: cover !important;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center !important;
    background: url();
}
.box-info-personal .box-avatar .camera {
    height: 32px;
    width: 32px;
    position: absolute;
    border-radius: 50%;
    right: 14px;
    bottom: -9px;
    background: url(https://static.homedy.com/src/images/social/profile/edit-image.svg) no-repeat center;
    display: inline-block;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
}
.box-info-personal p {
    margin-bottom: 16px;
}
.box-info-personal .box-avatar .camera .upload-avatarr {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}
.box-info-personal .icon-setting {
    position: absolute;
    top: 16px;
    right: 16px;
}
.box-info-personal .title-name {
    text-align: center;
    color: #3d4d65;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 11px;
}
.box-info-total {
    text-align: center;
    margin-bottom: 25px;
}
.box-info-total li {
    display: inline-block;
    width: 30%;
    cursor: pointer;
}
.box-info-total .total-info {
    color: #0298da;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 2px;
}
.box-info-total .txt-info-total {
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 14px;
}
.follow-profile {
    /* padding-left: 29px; */
    height: 36px;
    margin-bottom: 16px;
}
.follow-profile .follow {
    width: 100%;
    display: inline-block;
    float: left;
    height: 100%;
}
.follow-profile .follow button {
    margin: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #0298da;
}

.md-button-blue, .md-dialog .md-button-blue {
    /* height: 32px; */
    background: #0298da;
    border-radius: 4px;
    text-transform: none;
    color: #fff !important;
    font-weight: 500;
    font-size: 13px;
}
.md-button {
    min-width: 88px;
}
.md-button-white, .md-dialog .md-button-white {
    height: 32px;
    background: #fff;
    border: 1px solid #0298da;
    border-radius: 4px;
    text-transform: none;
    font-weight: 500;
    color: #6a6a6a !important;
    font-size: 13px;
}