body {
  margin: 0;
  font-family: Helvetica,Arial,Roboto,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: #f4f4f4;
}
button, input {
  overflow: visible;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}
*, *::before, *::after {
  box-sizing: border-box;
}
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
  color: -internal-light-dark(black, white) !important;
}
input {

  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
button, html [type="button"], [type="reset"], [type="submit"] {
  appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
*{   
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

.SellerProfile_profileWrapper .SellerProfile_baseBtn, .SellerProfile_profileWrapper .SellerProfile_primaryButton, .SellerProfile_profileWrapper .SellerProfile_secondaryButton {
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 7px 10px;
  text-align: center;
  transition: background-color .2s ease-in-out;
  width: -webkit-max-content;
  width: max-content;
}


/* chi tiáº¿t */
.AdParam_adParamIcon {
  display: inline-block;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  width: 24px;
}



@media (min-width: 992px){
  .col-md-8 {
    width: 66.66666667%;
}
}
@media (min-width: 992px){
  .col-md-6 {
    width: 50%;
}
}

@media (min-width: 959px){
  .col-md-9 {
    width: 75%;
  }
}


@media (min-width: 992px){
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
@media (min-width: 992px){
  .col-md-4 {
    width: 33.33333333%;
}
}
.col-xs-12 {
  width: 100%;
}
.no-padding {
  padding: 0!important;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-xs-12 {
  width: 100%;
}
.c3, .c4, .c5, .c6, .c8, .c9, .c12 {
  float: left;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
}
.c3 {
  width: 25%;
}
.md-button-content {
  position: relative;
  z-index: 2;
}

.md-fab .md-ripple, .md-fab:before, .md-icon-button .md-ripple, .md-icon-button:before {
  border-radius: 50%;
}
.md-button .md-ripple {
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.md-ripple {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle,#fff 100%,#000 0);
}
a{
  text-decoration: none;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}